@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: theme('colors.primary.100');
	color: theme('colors.gray.700');
}

html.dark body {
	background-color: theme('colors.gray.900');
	color: theme('colors.gray.400');
}